/*--------------------------------
ヘッダー
---------------------------------*/
$pc: 1024px; // PC
$tab: 830px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
     @media (max-width: ($pc)) {
          @content;
     }
}

@mixin tab {
     @media (max-width: ($tab)) {
          @content;
     }
}

@mixin sp {
     @media (max-width: ($sp)) {
          @content;
     }
}


/*ヘッダーの背景色がスクロールすると変わる*/
.header-inner.active {
     padding: 20px 30px;
     background: rgba(22, 70, 161, 0.27);

}


.sns-icons {

     @include tab {
          z-index: 4;
     }
}

.sns-link {
     transition: all 0.3s;

     &:not(:first-child) {
          padding-left: 30px;

          @include sp {
               padding-left: 15px;
          }
     }

     &:hover {
          opacity: 0.6;
     }
}




.header-inner {
     position: fixed;
     top: 0;
     z-index: 1;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 30px;
     transition: all 0.3s;

}



.header-nav-list {
     display: flex;

     @include tab {
          width: 100%;
          align-items: center;
          flex-direction: column;
          justify-content: center;
     }
}


.header-nav-item:not(:last-child) {
     margin-right: 25px;

     @include tab {
          margin-right: 0;
     }
}

/*ナブリストにhoverしたら線が出る*/
.header-nav-item {

     a {
          position: relative;
          font-size: 1rem;
          font-weight: bold;
          display: inline-block;
          padding: 5px 0;
          transition: 0.3s;
          letter-spacing: 0.1rem;
          color: #fff;

          @include tab {
               font-size: 1.5rem;
          }

          &::after {
               position: absolute;
               bottom: 0;
               left: 50%;
               width: 0;
               height: 3px;
               content: "";
               transition: 0.3s;
               -webkit-transform: translateX(-50%);
               transform: translateX(-50%);
               background-color: #fff;

          }

          &:hover::after {
               width: 100%;
          }
     }
}

/*ハンバーガーアイコン最初非表示、タブレットサイズになったら表示*/
.button {
     display: none;
     background-color: transparent;

     @include tab {
          display: inline-block;
     }

}

/*ハンバーガーアイコンの位置*/
.hamburger {
     position: fixed;
     top: 40px;
     right: 15px;
     z-index: 5;
     width: 50px;
     height: 50px;
     border: 2px solid #333333;
     transition: all .3 ease-in-out;

     &:hover,
     &:focus {
          box-shadow: 0 0 .5rem rgba(161, 161, 161, 0.5);
     }

}

/*ハンバーガーライン３本線*/
.hamburger__line {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     width: 20px;
     height: 3px;
     background-color: #333333;
     transition: inherit;

     &::before,
     &::after {

          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          content: '';
          background-color: inherit;
          transition: inherit;

     }

}

.hamburger__line::before {
     top: -5px;
}

.hamburger__line::after {
     top: 5px;
}

.hamburger[aria-expanded="true"] .hamburger__line {
     background-color: transparent;

     &::before,
     &::after {
          top: 0;
          background-color: #fff;

     }
}




/*アイコンがクリックされたら罰ボタンに変わる*/
.hamburger[aria-expanded="true"] .hamburger__line::before {
     transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
     transform: rotate(-45deg);
}

/*ハンバーガーアイコンボタンがクリックされたら発火するクラス*/
.is-drawerActive {
     .sp-global-menu {
          transform: skewX(0deg) translateX(0%);

          opacity: 1;
          visibility: visible;

          .header-nav-item {
               opacity: 1;
               visibility: visible;
          }

          .header-nav-item:nth-child(1) {
               transition-delay: .1s;
          }

          .header-nav-item:nth-child(2) {
               transition-delay: .2s;
          }

          .header-nav-item:nth-child(3) {
               transition-delay: .3s;
          }

          .header-nav-item:nth-child(4) {
               transition-delay: .4s;
          }

          .header-nav-item:nth-child(5) {
               transition-delay: .5s;
          }

          .header-nav-item:nth-child(6) {
               transition-delay: .6s;
          }


     }

     .hamburger {
          @include tab {
               border: 1px solid #fff;
          }

     }

     .drawer-background {

          visibility: visible;
          opacity: 0.8;
          transition: 0.3s;

     }


}

/*ドロワーメニューが表示されたら周りがブラックアウトされる*/
.drawer-background {
     display: none;
     background: none;

     @include tab {
          display: block;
          position: fixed;
          z-index: 3;
          width: 100vw;
          top: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;
          height: 100vh;
          background-color: #000;
          visibility: hidden;
          opacity: 0;
     }

}


.sp-global-menu {
     @include tab {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          position: fixed;
          top: 0;
          bottom: 0;
          overflow: hidden;
          z-index: 4;
          opacity: 0;
          visibility: hidden;
          transition: opacity .1s ease; //この設定でブレイクポイント時、一瞬の色映りが消える
     }

     .header-nav-item {
          @include tab {

               opacity: 0;
               visibility: hidden;
               transform: translateY(16px);
               transition: opacity .3s ease-in-out;
          }
     }
}