/*--------------------------------
 Service
---------------------------------*/
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
     @media (max-width: ($pc)) {
          @content;
     }
}

@mixin tab {
     @media (max-width: ($tab)) {
          @content;
     }
}

@mixin sp {
     @media (max-width: ($sp)) {
          @content;
     }
}




.service-container {
     display: flex;
     align-items: center;
     padding: 40px 0;

     @include pc {
          flex-direction: column;
     }

     p {
          padding-top: 10px;
          font-size: 1.3rem;
          font-weight: bold;
          line-height: 2.3;

          @include tab {
               font-size: 1rem;
          }
     }
}

.service {
     background-image: url(/img/service-bg.jpg);
     background-size: cover;
     background-position: center;
     width: 100vw;


}

.service-title-top {
     font-size: 2.3rem;
     text-align: center;


     @include tab {
          font-size: 2rem;
     }

     @include sp {
          font-size: 1.7rem;
     }
}

.service-img {
     max-width: 800px;
}

.service-list {
     p {
          font-weight: bold;
          font-size: 1.3rem;

          @include tab {
               font-size: 1rem;
          }

          @include sp {
               font-size: 0.8rem;
          }
     }

}

.service-title {
     font-size: 2rem;
     padding: 20px;
     text-align: center;

     @include tab {
          font-size: 1.7rem;
     }

     @include sp {
          font-size: 1rem;
     }
}

.service-recommend {
     background: #D6AECE;
     padding: 60px;
     display: flex;
     flex-direction: column;
     align-items: center;

     @include sp {
          padding: 33px;
     }

     .service-text-list {
          padding: 50px;
          width: 100%;
          background: #fff;

          @include sp {
               padding: 20px;
          }
     }

     .service-text {
          margin: 0 auto;
          width: 50%;
          line-height: 2;
          font-weight: bold;
          font-size: 1.3rem;
          border-bottom: 2px solid red;

          @include tab {
               width: 60%;
               font-size: 1rem;
          }

          @include sp {
               font-size: 0.7rem;
          }
     }

}