/*--------------------------------
 Works
---------------------------------*/
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
     @media (max-width: ($pc)) {
          @content;
     }
}

@mixin tab {
     @media (max-width: ($tab)) {
          @content;
     }
}

@mixin sp {
     @media (max-width: ($sp)) {
          @content;
     }
}



.works {
     background: #D6AECE;
}

.works-list {
     display: grid;
     margin: 0 auto;
     gap: 1vw;
     grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
     margin-top: 6%;
     margin-bottom: 50px;
}

.works-item {

     &:hover {
          opacity: 0.8;
     }
}

.works-img {
     display: block;

     img {
          transition: .3s;
          width: 100%;
          height: 100%;
          vertical-align: bottom;
          border-style: none;
          object-fit: cover;
          object-position: center;
          border: 1px solid #e6e6e6;

          &:hover {
               transform: scale(1.1); //縮小の倍率
               z-index: 3;
               position: relative;
               box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
          }

     }
}


.works-name {
     font-size: 0.75rem;
     font-weight: bold;
     margin-top: 8px;
}


//拡大画像がサムネイル画像の下にしているので1番上にくるように調整
.lum-lightbox.lum-open {
     z-index: 4;
}


//拡大したときの画像の最大サイズ
.lum-lightbox-inner img {
     max-width: 90vw;
     max-height: 80vh;

}

.works-item-wrap {
     display: flex;
     align-items: center;
     flex-direction: column;
     background-color: #D6AECE;
     padding-top: 150px;

}

.works-item-img {
     width: 70%;
}

.works-item-title {
     padding: 10px 0;
     text-align: center;
}

.text {
     width: 70%;
     padding: 50px 0;
     line-height: 2;
}



.industry {
     padding: 10px;
     font-weight: bold;
     background: #000;
     color: #fff;
     vertical-align: middle;
}

.works-item-text {
     padding: 10px 0;
     font-size: 1.2rem;
     line-height: 1.7;

     @include sp {
          font-size: 0.8rem;
     }
}

.page-nav {
     display: flex;
     justify-content: space-between;
}

.page-link {
     vertical-align: middle;
     padding: 5px;
     font-weight: bold;
     background: #D6AECE;
     color: #fff;
     font-size: 1.3rem;

     &:hover {
          opacity: 0.7;
     }
}

.prev-icon {

     &:before {
          font-family: "Font Awesome 5 Free";
          content: '\f104';
          vertical-align: middle;
     }

}

.next-icon {
     &:after {
          font-family: "Font Awesome 5 Free";
          content: '\f105';
          vertical-align: middle;

     }
}