/*--------------------------------
 Skill
---------------------------------*/

$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
     @media (max-width: ($pc)) {
          @content;
     }
}

@mixin tab {
     @media (max-width: ($tab)) {
          @content;
     }
}

@mixin sp {
     @media (max-width: ($sp)) {
          @content;
     }
}




.skill-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: -50px;
}

.skill-item {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     width: 48%;
     margin-bottom: 50px;
}

.skill-img {
     width: 60px;
     height: auto;
     margin-right: 35px;
}

.flex {
     justify-content: center;
     display: flex;
}

.skill-body {
     flex: 1;
}

.skill-name {
     margin-bottom: 5px;
     font-size: 1.2rem;
}

.skill-text {
     font-size: 0.875rem;
     line-height: 1.3;
}