/*--------------------------------
 About
---------------------------------*/
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
     @media (max-width: ($pc)) {
          @content;
     }
}

@mixin tab {
     @media (max-width: ($tab)) {
          @content;
     }
}

@mixin sp {
     @media (max-width: ($sp)) {
          @content;
     }
}

.about {
     background: #D6AECE;
}

.profile {
     display: flex;
     margin: 0 auto;
     justify-content: center;

     @include pc {
          flex-direction: column;
          align-items: center;
     }
}

.profile-text {
     p {
          line-height: 1.4;
     }
}


.profile-body {
     background: #fff;
     display: flex;
     flex-direction: column;
     padding: 30px;
     font-size: 1rem;

     @include pc {
          margin-top: 20px;
          justify-content: center;
          align-items: center;
     }

     @include sp {
          font-size: 0.8rem;
     }

}



.profile-body p:not(:last-child) {
     margin-bottom: 30px;
}